* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////// */

.control-panel {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
}
.all-editing-tabs {
    display: flex;
}
.editing-tabs {
    display: flex;
}
.run-and-save-tabs {
    display: flex;
}
.panel {
    display: flex;
}
/* 
//////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////// */
